<?xml version="1.0"?>
<launch>
  <arg name="OPENVR"  value="$(env HOME)/libraries/openvr"/>
  <arg name="STEAM"   value="$(env HOME)/.local/share/Steam"/>
  <arg name="STEAMVR" value="$(arg STEAM)/steamapps/common/SteamVR"/>

  <env name="OPENVR"  value="$(arg OPENVR)"/>
  <env name="STEAM"   value="$(arg STEAM)"/>
  <env name="STEAMVR" value="$(arg STEAMVR)"/>
	    
  <!-- Everything! -->
<!--
  <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):$(env HOME)/libraries/openvr/lib/linux32:$(env HOME)/libraries/openvr/lib/linux64/:\$(env HOME)/.local/share/Steam/ubuntu12_32/steam-runtime/i386/lib/i386-linux-gnu:$(env HOME)/.local/share/Steam/ubuntu12_32/steam-runtime/amd64/lib/x86_64-linux-gnu:$(env HOME)/.local/share/Steam/steamapps/common/SteamVR/bin/linux32:$(env HOME)/.local/share/Steam/steamapps/common/SteamVR/bin/linux64:$(env HOME)/.local/share/Steam/steamapps/common/SteamVR/drivers/lighthouse/bin/linux32:$(env HOME)/.local/share/Steam/steamapps/common/SteamVR/drivers/lighthouse/bin/linux64:"/>
-->
  <!-- For a 64bit system -->
  <!-- <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):$(env HOME)/libraries/openvr/lib/linux64:$(env HOME)/.local/share/Steam/ubuntu12_32/steam-runtime/amd64/lib/x86_64-linux-gnu:$(env HOME)/.local/share/Steam/steamapps/common/SteamVR/bin/linux64:$(env HOME)/.local/share/Steam/steamapps/common/SteamVR/drivers/lighthouse/bin/linux64"/> -->
  <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):/usr/lib/:/usr/lib32/:$(arg OPENVR)/lib/linux32/:$(arg OPENVR)/lib/linux64/:$(arg STEAM)/ubuntu12_32/steam-runtime/i386/usr/lib/i386-linux-gnu/:$(arg STEAM)/ubuntu12_32/steam-runtime/amd64/usr/lib/x86_64-linux-gnu/:$(arg STEAM)/ubuntu12_32/steam-runtime/amd64/lib/x86_64-linux-gnu/:$(arg STEAM)/ubuntu12_32/steam-runtime/i386/lib/i386-linux-gnu/:$(arg STEAMVR)/bin/linux32/:$(arg STEAMVR)/bin/linux64/:$(arg STEAMVR)/drivers/lighthouse/bin/linux32/:$(arg STEAMVR)/drivers/lighthouse/bin/linux64/"/>
    

  <rosparam param="/vive/world_offset">[0, 0, 2]</rosparam>
  <rosparam param="/vive/world_yaw">0.0</rosparam>

  <arg name="CAMERA_LEFT" default="use_cam"/>
  <arg name="CAMERA_RIGHT" default="use_cam"/>
  
  <!-- <remap from="image_left" to="/multisense_local/left/image_rect_color"/> -->
  <!-- <remap from="image_right" to="/multisense_local/right/image_rect"/> -->
  <!-- <remap from="camera_info_left" to="/multisense_local/left/camera_info"/> -->
  <!-- <remap from="camera_info_right" to="/multisense_local/right/camera_info"/> -->
  
  <remap from="image_left" to="/$(arg CAMERA_LEFT)/image_raw"/>
  <remap from="image_right" to="/$(arg CAMERA_RIGHT)/image_raw"/>
  <remap from="camera_info_left" to="/$(arg CAMERA_LEFT)/camera_info"/>
  <remap from="camera_info_right" to="/$(arg CAMERA_RIGHT)/camera_info"/>
  
  <node name="vive_node" pkg="vive_ros" type="vive_node" output="screen" required="true"/>
</launch>
